.createButton {
    width: 60px;
    height: 60px;
    border: 2px solid #592EF2 ;
    border-radius: 100%;
    background-color: rgb(228, 225, 225);
    color: #592EF2;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    left: 80%;
    bottom: 3%;
    transform: rotate(0);
    transition-duration: 0.2s;
}       

.createButton:hover {
    transform: rotate(180deg);
    transition-duration: 0.2s;
}