.Item {
    width: 90%;
    height: 90px;
    display: flex;
    flex-flow: row;
    align-items: center;
    color: rgb(82, 81, 81);
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aliceblue;
    box-shadow: -13px 21px 104px -16px rgba(0,0,0,0.77);
    -webkit-box-shadow: -13px 21px 104px -16px rgba(0,0,0,0.77);
    -moz-box-shadow: -13px 21px 104px -16px rgba(0,0,0,0.77);
}

.Item p {
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 20px;
}

.Item-container {
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.start {
    margin: 0 auto;
    font-size: 40px;
}

.menu {
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: -2px;
}
