.container-items {
    align-items: center;
    background-color: rgb(221, 132, 243);
    border-radius: 15px;
    color: black;
    display: flex;
    margin: 0 auto;
    height: 500px;
    width: 85%;
    flex-direction: column;
    overflow-y: scroll;
}